html {
    touch-action: manipulation;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    background: var(--adm-color-background-body);
}

#root {
    width: 100%;
    min-height: 100%;
}

.main-app {
    height: 100%;
    display: flex;
    flex-direction: column;

    .top-nav-bar {
        box-shadow: 0 0 0 1px var(--adm-color-border);
    }

    .body {
        flex: 1;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        overflow: auto;
    }

    .bottom {
        flex: 0;
        border-top: solid 1px var(--adm-color-border);
    }
}

.loading-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
